.BodyView {
    align-content: center;
    margin: 10px 10px;
}

.Buttons {
    margin: 15px auto;
}

.GraphView {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-gap: 1em;
    margin: 5rem 2rem;

    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

@media (max-width: 500px) {
    .GraphView {
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    }
}
