.ExerciseElements {
    align-content: center;
    margin: 10px auto;
    display: grid;
    grid-template-rows: none;
    grid-gap: 1em;
}

.ExercisePool {
    width: 80%;
    padding: 10px;
    margin: auto;
    height: 300px;
    background-color: #ddd;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

