.HomeImage {
    height: 90vh;
    background-image: linear-gradient(to right bottom, rgba(18, 166, 211, 0.8), rgba(89, 128, 173, 0.8)), url(../../assets/images/yoga-nature.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 85vh);
    padding: 30px;
    box-sizing: border-box;
}

.HomeTextBox {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.PrimaryHeading {
    color: white;
    text-transform: uppercase;

    backface-visibility: hidden; 
}

.PrimaryHeadingMain {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    margin: 10px auto;

    animation: moveInRight 1s ease-out;
}

.PrimaryHeadingSub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 15px;
    margin: 5px auto;

    animation: moveInLeft 1s ease-out;
}

@media (max-width: 500px) {
    .PrimaryHeadingMain {
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 17.5px;
    }
    
    .PrimaryHeadingSub {
        font-size: 13px;
        font-weight: 800;
        letter-spacing: 8px;
    } 
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px)
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px)
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}