.ExerciseElement {
    background-color: #ccc;
    cursor: pointer;
    display: flex;
}

.ExerciseElement label {
    cursor: pointer;
    padding: 5px;
    margin: auto;
}

.ExerciseElement button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    margin: 5px 5px;

}

.ExerciseElement button:hover {
    background-color: #aaa;
}